/* Your code goes here */
body {
  padding: 0;
  margin: 0 0 5vh;

}

.container{
  display: grid;
  grid-template-rows: repeat(1,128px);
  grid-row-gap: 35px;
}

.head{
  display: grid;
  justify-content: center;
  align-content: center;
  color: #ffffff;
  background-color: black;
}




.body{
  grid-template-columns:90%;
  justify-self: center;
  display: grid;
  grid-template-rows: repeat(1,35px);
  grid-row-gap:15px;
}

.number-body{
  display: grid;
  grid-template-rows: repeat(6,44.3%);
  grid-row-gap:15px;
}

.name-of-days{
  display: grid;
  grid-template-columns: repeat(7,14.3%);
  grid-gap:15px 18px;
}

.number-body>.weak{
  display: grid;
  grid-template-columns: repeat(7,14.3%);
  grid-gap:15px 18px;
}

.body>.name-of-days div{
  display: grid;
  justify-content: center;
  align-content: center;
  font-weight: bolder;
  font-size: 15px;

}
.number-body>.weak div{
  width: 100%;
  height:100%;
  justify-self: center;
  align-self: center;
  border:1px solid #eaeaea;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: #eaeaea;
}
.number-body>.weak .white-background{
  background-color: #ffffff;
}