﻿* {
  outline: none;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

p{
  padding-right:0 ;
}

header{
  height:100vh;
  background-image: url("../img/header-bg.jpg");
  
}


.nav-item{
  color: white;
}
.special-button{
  background-image: url("../img/touch-bg.png");
  background-repeat: no-repeat;
  width: 300px;
  height:10vh;
  color:white;
  font-size: 20px;
}

.section-work{
padding-top: 60px;
padding-bottom: 60px;
background-color: #ebebeb;
}
.small-size-img{
  margin-top: 20px;
  height:55vh;
  width:100%;
  background-image: url("../img/references-img.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.lg-size-img{
  margin-top: 20px;
  height:65%;
  width:100%;
  background-image: url("../img/work-img-03.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.img-content{
position: relative;
}
.img-content>img:nth-child(1){
  position: relative;
  width: 100%;
  height:55vh;
  z-index: 2;
}
.img-content>img:nth-child(2){
  z-index: 1;
  width: 65%;
  height:35vh;
  position: absolute;
  left:-10px;
  top:40%;
}
.img-arrow{
  width:40px;
  height:77px;
  align-self: center;
}
.left-arrow{
  margin-left: -40px;
  margin-right: 40px;;
}
.right-arrow{
  margin-left: 40px;
  margin-right: -40px;;
}

.contact-input{
  border-top:none;
  border-left:none;
  border-right:none;
  margin:  5px 0;
  height: 65px;
  padding-left: 30px;
  background-color: #000000;
  color: white;

}
input::placeholder { 
  color:#ffffff;
}
.form-button{
background-color: #202020;
color:#ffffff;
}
.section-form{
  background-color: #000000;
}
footer{
  background-color: #2f3171;
}
.left-pos{
  margin-left: -10px;
  margin-right: 10px;
}

header{
  position: relative;
  z-index: 15;
}
.special-navbar{
  position: fixed;
  background-color: #2c306f;
  z-index: 10; 
}
main{
  position: relative;
  z-index: 1;  
}
section{
  position: relative;
  z-index: 1;
}